extends base

block content 
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset Your Password
            form.form.form-forgotPassword#forgotPasswordForm
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green#sendResetEmailBtn Send Password Reset Email
            label.form__label#forgotPasswordSuccessMsg(style='display:none') An email with reset password link has been sent on the email. Please click on the link to continue with the reset process.
            button.btn.btn--green#backToLoginBtn(style='display:none') Back to Login
                