extends base

block content 
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Change Password
            form.form.form-resetPassword#resetPasswordForm
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='confirmPassword') Confirm Password
                    input#confirmPassword.form__input(type='password', placeholder='••••••••', required)    
                .form__group
                    button.btn.btn--green#resetPasswordBtn Change Password
            label.form__label#resetPasswordSuccessMsg(style='display:none') Password Changed Successfully!
            button.btn.btn--green#backToLoginBtn(style='display:none') Back to Login